[2016-11-12 22:10] mrmwiebe opened #4 "Game doesn't get updated if there's already a game folder there."
GameSync.cs line 155

[2016-11-13 15:56] mrmwiebe opened #5 "Downloading files hangs the launcher"
When downloading files, the launcher hangs for several seconds.

[2016-11-13 15:58] mrmwiebe opened #6 "Make it so that the Sync screen shows what game is being downloaded"
Show on the sync screen what game is being downloaded and how long it will take.

[2016-11-13 16:09] mrmwiebe opened #7 "Get legacy controls mode working."
I have a solution for how to make old Winnitron games work with the new proposed layout.  Update the wiki as well.

[2016-11-13 18:10] mrmwiebe opened #8 "Scheduled Syncs"
Make it an option that syncs only happen between certain times.

[2016-11-13 19:19] #6 closed

[2016-11-13 19:26] mrmwiebe opened #10 "Confusing Path options"
Path options are confusing, simplify them so that you can specify each user data folder separately.

[2016-11-13 19:42] mrmwiebe commented on #10
Fixed with latest commit.

[2016-11-13 19:42] #10 closed

[2016-11-13 19:53] aaronklaassen commented on #5
Just during the unzipping, right?

[2016-11-13 20:15] mrmwiebe commented on #5
Yep, I added text that says it's unzipping so that it's clear what's going on.  Not a big deal.

[2016-11-14 03:15] #5 closed

[2016-11-14 03:16] mrmwiebe opened #12 "Launcher doesn't properly return to main screen after attract mode."

[2016-11-14 03:35] mrmwiebe commented on #12
Fixed in latest commit.

[2016-11-14 03:35] #12 closed

[2016-11-14 22:43] mrmwiebe commented on #7
Fixed on latest commit.

[2016-11-14 22:43] #7 closed

[2016-11-16 02:56] aaronklaassen opened #13 "Can't find screenshots post-sync"
@mrmwiebe

[code]

[2016-11-16 03:11] aaronklaassen commented on #4
Fixed in #83c2fc0

[2016-11-16 03:11] #4 closed

[2016-11-17 17:40] mrmwiebe opened #15 "Weird error fetching multiple Playlists"
With two subscribed playlists, the launcher Syncs the first one fine, then immediately goes to the Intro screen, where it then starts syncing the second playlist in the background, which messes up the data collection.  Not sure where that's happening.

[2016-11-17 17:41] mrmwiebe commented on #15
@aaronklaassen if you can take another gander at this that'd be swell.  It'd be great if all the syncing is done in the sync screen.

[2016-11-17 17:48] mrmwiebe commented on #15
NEVERMIND.  I'M DUMB.

[2016-11-17 17:48] #15 closed

[2016-11-17 18:46] #13 closed

[2016-11-17 18:46] mrmwiebe commented on #13
Not sure what I did, but it works now. ;)

[2016-11-17 19:32] mrmwiebe opened #16 "Can't get Unity UI Images to sort properly with Tranparancy material"
This isn't critical, but was hoping to have the game images fade as they get farther away from the selected game.

[2017-01-25 20:48] Ludonaut commented on #8
This would probably solve a problem I'm having where the launcher (that I'm auto-starting on boot) fails to sync due to the network not being available yet.

[2017-01-25 21:21] Ludonaut opened #17 "Several games won't launch due to wrong metadata"
Most games currently on the network won't launch due to a wrong "executable" string in their respective winnitron_metadata.json files.

For example, Canabalt has the following

`{"title":"Canabalt", "slug":"canabalt", "last_modified":"2017-01-25T20:57:59", "min_players":"1", "max_players":"2", "executable":"null", "legacy_controls":"true", "image_url":"https://winnitron.s3-us-west-2.amazonaws.com/

[2017-01-25 21:38] Ludonaut opened #18 "Launcher should hide prefixed underscore of local-only playlists"
So it took me a while to figure out how to stop the launcher from deleting my local folders, haha!

I gather the canonical way to keep local folders is to prefix them with an underscore:

`_My Super Exclusive Playlist`

But the underscore then shows up in the playlist name in the launcher as well! :sob:

(also this should be mentioned on [the wiki page](https://github.com/winnitron/WinnitronLaunch

[2017-01-25 21:55] Ludonaut opened #19 "Won't display any playlists or games if syncMode is set to local"
If I add _"syncMode": "local"_ to the "launcher" section of winnitron_options.json, the launcher does indeed skip the startup sync but then fails to display any playlists or games.

See attached screenshot and output_log.txt

[output_log.txt](https://github.com/winnitron/WinnitronLauncher/files/731024/output_log.txt)
![winnitron-syncmodelocal-bug](https://cloud.githubusercontent.com/assets/932664/

[2017-01-25 22:05] aaronklaassen commented on #17
Ah yeah some of that data was backfilled automatically. That's probably the problem. I'll go in and fix them.

[2017-01-25 22:06] aaronklaassen commented on #18
Yep I'm in the middle of updating a bunch of the docs. :+1: Didn't know about the `_` in-launcher though. @mrmwiebe wanna tackle that?

[2017-01-25 22:07] aaronklaassen commented on #19
Were there any playlists/games already downloaded? There aren't any games packaged with the launcher, so if it's never synced at all before there won't be anything to load.

[2017-01-25 22:08] mrmwiebe commented on #19
I think he means that he just has local games on his machine.  tbh I hadn't tested that properly yet!  I'll look into it when I have a moment.  Does it work if you remove your API key, keep syncMode at default and just have some local games sitting in folders?

[2017-01-25 22:09] Ludonaut opened #20 "White trails shouldn't clip through cover images"
Okay this is a super low priority cosmetic issue and I'm not even sure if it should be changed really, but I feel like the white trails shouldn't clip through the cover images. It just feels weird.

This could probably be solved through some clever masking, but I have no idea where to begin. (sorry, still a Unity beginner)

[2017-01-25 22:12] mrmwiebe commented on #20
there's a big invisible collider in the background that stops rays from passing through the camera, probably just needs to be enlarged.

[2017-01-25 22:15] Ludonaut commented on #19
Yes, games were already downloaded before. In the scenario above I was still subscribed to a playlist on the network that was synced before I changed syncMode to local (just out of curiosity).

Nope, but the launcher goes "Oops, Press Q to Quit" and the log sez:
[code]

[2017-01-25 22:18] mrmwiebe commented on #19
Ooo this is great info, thank you!  Can you attach that full log file to this thread if you still have it?

[2017-01-25 22:18] Ludonaut commented on #19
[output_log.txt](https://github.com/winnitron/WinnitronLauncher/files/731077/output_log.txt)

[2017-01-25 22:46] Ludonaut opened #21 "Game names are cut off if longer than two line breaks"
Another non-critical cosmetic issue, screenshots should be pretty self-explanatory:

![gamenamelength](https://cloud.githubusercontent.com/assets/932664/22312341/ae9d92f8-e357-11e6-895a-a958ec0bd444.png)
![gamenamelength2](https://cloud.githubusercontent.com/assets/932664/22312351/b3c52ade-e357-11e6-8b6d-f948d6963f24.png)
![gamenamelength3](https://cloud.githubusercontent.com/assets/932664/2231235

[2017-01-25 23:06] Ludonaut opened #22 "Menu to filter games by min/max number of players or tags"
I bet you guys are already working on this but I figure it can't hurt to open an issue about it.

I'm thinking at some point when a machine has more than 20 games or so installed it would be cool to be able to filter them by tags or min/max number of players somehow.

Maybe a menu, selectable like a playlist, but to the left of all playlists, and only if more than one directional button is held, s

[2017-01-25 23:09] aaronklaassen commented on #22
Yeah this will show up on the website first (once there are more games there such that filtering is more required/useful), but I like the idea of options launcher-side too.

[2017-01-25 23:26] Ludonaut opened #23 "Hectic legacy games trigger AHK #MaxHotkeysPerInterval error dialog"
We were playing a fierce battle of Nidhogg when we were thrown out of the game and this appeared:

![winnitronlegacymaxhotkeys](https://cloud.githubusercontent.com/assets/932664/22313565/8b87eee8-e35d-11e6-8164-cbfb581c510f.jpg)
(sorry for the horrible quality picture)

Google-Fu brought me to this page in the AutoHotKey docs:
https://www.autohotkey.com/docs/commands/_MaxHotkeysPerInterval.htm

I'

[2017-01-25 23:45] mrmwiebe commented on #23
This is great that you're able to stress test this stuff! :D  I think that happened to me when I was first starting to use AutoHotkey and I forget why that was happening.  WinnitronLegacy is a standalone version of AHK with settings embedded, it might just be that we need to re-embed it with a higher interval setting.

[2017-01-25 23:50] mrmwiebe commented on #22
This can be done with the folders/playlists, at least at first.  Like if you wanted to have a 2-player list you can just make a new playlist for it.  Need to just get the sync and basic launcher stuff working smooth before adding this kind of stuff to it.  But yeah, if there's a simple way of filtering without cluttering the screen too much I'm open to it

[2017-01-25 23:55] Ludonaut commented on #22
You're totally right, keeping multiple playlists is way simpler for now (though only one-dimensional, if that makes sense). :+1:

[2017-01-26 01:13] mrmwiebe commented on #18
On it.

[2017-01-26 01:14] aaronklaassen commented on #23
Nice. Yeah this is highly relevant to the customizable-keymap stuff I've been sketching out.

[2017-01-26 01:16] aaronklaassen opened #24 "Halifax is still mentioned in the attract 😂"
It still says "Games from Halifax and around the world!" or something. Which isn't *wrong*, per se, but you know.

[2017-01-26 01:19] mrmwiebe commented on #23
@aaronklaassen do you want to look into this or should I?

[2017-01-26 01:21] mrmwiebe commented on #24
Gotcha.  I'll change it for the next version so the main install is a generic Winnitron attract

[2017-01-26 01:30] aaronklaassen commented on #23
@mrmwiebe Nah you go for it.

[2017-01-27 02:47] aaronklaassen opened #25 "Version display"
We need an easy way for people to check what version - exactly - of the launcher they're running. So when we get bug reports we can say "oh shit yeah that was fixed in v2.1.14" or whatever.

[2017-01-27 02:49] aaronklaassen opened #26 "Move default playlists directory out of launcher folder structure"
Related to #25, I'd like to be able to tell people

Without it taking all their installed games with it - especially because that would include local ones not included in a sync.

This is really just a change to the included options json, right?

[2017-01-27 03:37] mrmwiebe commented on #26
Yep.  I guess we can include two folders in the zipfile, one for c:\winnitron and one for c:\winnitron_user (with the playlists and attract and music) or something?  then if they want they can just replace the winnitron folder.  I'd like to include the folder with the zip file because then it's a bit easier to set up.  That sound fine?

[2017-01-27 06:03] mrmwiebe commented on #25
I can just make it output to debug_log.txt first thing and make sure people are sending us that file or checking it.  That way it's not super obvious in the launcher itself.

[2017-01-27 06:29] mrmwiebe commented on #19
Fixed with commit 80feb714dcd78d54a53c0e7ea4c724e7855b71e9

[2017-01-27 06:29] #19 closed

[2017-01-27 06:50] mrmwiebe commented on #18
Fixed in commit b46bbb4484adfb40fb0836d1bec357ad1a94c333

[2017-01-27 06:50] #18 closed

[2017-01-27 07:29] mrmwiebe commented on #24
Fixed in commit 25a257438a737a1824afdbc40bedc70a0bc215e1 for Beta2

[2017-01-27 07:29] #24 closed

[2017-01-27 16:53] aaronklaassen commented on #25
Works for me. Just need it available somehow.

[2017-01-27 16:55] aaronklaassen commented on #26
Yeah doesn't matter to me as long as they're separate.

[2017-01-27 18:07] mrmwiebe commented on #26
Realized I fixed this with the last commit as well.  It'll be in the next release.

[2017-01-27 18:07] #26 closed

[2017-01-27 20:06] mrmwiebe commented on #25
Fixed for RC1

[2017-01-27 20:06] #25 closed

[2017-01-27 20:11] #20 closed

[2017-01-28 09:55] mrmwiebe commented on #23
Ok a fixed version of the script will be included in the next release.  Autohotkey runs two ways.  It will run a script if the exe is named the same as the .ahk file, and you can make a standalone .exe that has the .ahk embedded in it.  Turns out I was trying to use both!

[2017-01-28 09:55] #23 closed

[2017-01-29 23:22] aaronklaassen opened #27 "Launcher doesn't reset/recover from legacy controls"
Launcher should reset to default controls:
* when a non-legacy game starts
* when any game exits
* when the launcher starts
* when the launcher exits
* hell even when the sync runs

Like, just spam the shit out of "reset to default keybindings". If a game crashes or even just exits or something when in legacy mode, the launcher menus etc don't even work because we can't hit any meaningful buttons.

[2017-01-29 23:25] aaronklaassen opened #28 "Check for changed metadata during sync"
While the sync is (should be?) smart enough to see changes in zip files, it won't update local metadata json if it gets new info from the Network. Just now I fixed some bad data website-side, but had to delete the games themselves locally in order for the launcher to see that change and overwrite/update its local metadata.

[2017-01-30 00:44] mrmwiebe commented on #27
sounds like this bug hit a nerve ;)  I'll look into it.  Does this happen sporadically or everytime you quit a game?

[2017-01-30 01:48] #27 closed

[2017-01-30 01:48] mrmwiebe commented on #27
uh, heh looks like I had commented out the bit that stopped the controls from shutting off :O

[2017-01-30 01:49] mrmwiebe commented on #17
I think this is the last bug before we can launch RC1. :)  Let me know if you've got it or if you want me to take a look.

[2017-01-30 04:50] mrmwiebe opened #29 "Make Normal and Critical Oopses"
For times when you want the user to know something but continue to use the launcher, there should be an Oops screen you can just press ESC and re-launch the launcher.  A "Soft" Oops.

But for mission critical errors, you need one that quits the launcher.  A "Hard" Oops.

[2017-01-30 04:52] mrmwiebe opened #30 "Make error handling with the runner better"
Right now if something goes wrong when trying to open a game, everything just freezes and you need to check the logs.  Should trigger a "Soft" Oops to notify the users, but allow them to select another game.  See issue #29

[2017-01-30 12:50] Ludonaut commented on #29
Ah good to know you're aware of this and working on it! I was about to open an issue :)

The question is how to differentiate between Soft and Hard Oopses. If the game won't launch (after a timeout maybe) or just crashes, that's a Soft Oops, and users should be able to go back to the selection when pressing ESC (right now the launcher just quits I believe).

But what about games that leave the sys

[2017-01-30 14:54] mrmwiebe opened #31 "Hold "Home" to force quit"
This would be nice.

[2017-01-30 15:06] mrmwiebe commented on #29
Yep, trying to make it require as little mouse/keyboard as possible.  We won't get 100% there, but we can try to get close as possible!

I think I'm going to call these an Oops and Critical Oops.  Basically, Critical Oops is for conveying an improperly configured Winnitron installation that prevents it from running properly.  So, things like "hey I can't find the options.json which I need to run,

[2017-01-30 15:28] aaronklaassen commented on #17
@mrmwiebe No I got it. I fixed some of them but haven't finished yet. I'll do it today.

[2017-01-30 15:43] mrmwiebe commented on #31
Don't think this is possible in Unity alone.  Would probably need some sort of watcher helper app or maybe it can be done with AutoHotKey?  This might be an undertaking....

[2017-01-30 15:46] aaronklaassen commented on #31
Could be, yeah. Worth looking into, though.

[2017-01-30 17:15] mrmwiebe commented on #31
I _think_ that this can be done with AutoHotKey.  I've asked in the forums.

[2017-01-30 17:20] Ludonaut commented on #31
On Linux you can run programs as child processes and set up watchdog scripts.

It seems there is an equivalent in Windows. Google brought me here: https://msdn.microsoft.com/en-us/library/windows/desktop/ms686722(v=vs.85).aspx but I have no idea how this would work with Unity.

[2017-01-30 17:27] mrmwiebe commented on #31
One day we'll use switch to Linux. ;)

Unity already can do this force closing stuff, it's more a matter of watching keyboard input in the background while still giving focus to the game.

[2017-01-30 23:10] Ludonaut opened #32 "Games are duplicated on disk if they're on multiple playlists"
(non-critical issue, just thinking out loud here, feel free to close this if it goes against your goals)

So if I add a game to two different playlists, the launcher downloads the zip once (I think) and writes two separate copies of it into two different folders. This is kinda by design due to the "folders = playlists" structure.

Right now this is totally fine because those games are tiny and the

[2017-01-30 23:11] Ludonaut opened #33 "Less aggressive game deletion"
(related to #32)

Right now the launcher deletes whole folders of games whenever unsubscribed from their playlists.

Bandwidth is cheap, but in the long run it could save a lot of traffic if the launcher would keep games in some temporary "downloads" folder in case they get added to another playlist later (and haven't been updated since).

[2017-01-30 23:33] aaronklaassen commented on #32
Yeah I'd like to do this too but it'll take reworking a lot of the sync code. It'll happen but not this release.

[2017-01-30 23:39] aaronklaassen commented on #33
I have notes somewhere where we sketched out how the sync would work. It's titled something like

"Game Sync v1: The Stupid Version"

Which of course is what we're running right now. ¯\_(ツ)_/¯

[2017-01-31 07:15] mrmwiebe commented on #31
OH YEAH.  The launcher will now kill a game by idling OR by holding down the home button for 3 seconds.

[2017-01-31 07:15] #31 closed

[2017-01-31 07:51] mrmwiebe commented on #30
Fixed in commit 7a7da6e47db750616ab57fef4542b39dd91ea174

[2017-01-31 07:51] #30 closed

[2017-01-31 07:52] #29 closed

[2017-01-31 14:57] Ludonaut commented on #33
Haha! Sorry, I didn't mean this to be discouraging. To me it's amazing this launcher is as cool as it is and that it really works. I only want to help make it even better.

Regarding downloads: Maybe [the Itch.io App](https://github.com/itchio/itch) (their desktop client) could be a good source of inspiration. It's an Electron-based Steam-like application and Amos [just developed some crazy optimi

[2017-02-02 04:32] mrmwiebe commented on #17
Fixed for RC1

[2017-02-02 04:32] #17 closed

[2017-02-06 15:56] aaronklaassen opened #34 "Attract screens still have games selected"
So if you're watching the "Winnitron is a arcade machine with games on it!" text stuff, and press a button, rather than going back to the menu it launches the game that is (apparently) still selected in the background.

[2017-02-06 15:57] aaronklaassen opened #35 "Launch game with any button press"
Launcher is currently picky about which button you press to start a game. I think anything that isn't a joystick should be **GO TIME** (especially home/esc: it feels like a start button).

[2017-02-06 22:33] mrmwiebe commented on #35
Yeah that makes sense, will add in home to launch.  Though I'm going to keep it so that only Player 1 can launch/select games.  That way you know that someone's always at P1 controls.  P2 controls are for jukebox.

[2017-02-06 22:37] mrmwiebe opened #36 "Auto populate local-only folder game metadata"
Want to make it so that if no metadata is found for a local folder game (maybe even in some cases for downloaded? thoughts @aaronklaassen ) the launcher attempts to auto-generate a metadata file if it can find everything.

[2017-02-06 23:05] aaronklaassen commented on #36
Yeah for local games for sure that makes sense. Makes it more clear to the owner how to build that file if they're just editing an existing one.

[2017-02-06 23:18] Ludonaut opened #38 "Launcher gets stuck on manual sync (ENTER/Return key)"
On a machine without a keyboard, users shouldn't be able to do this because Return/Enter probably isn't mapped to any sticks or buttons, but:

If Return is pressed, the launcher gets stuck at "Collecting data for launcher..."
![stuckatmanualsync](https://cloud.githubusercontent.com/assets/932664/22670441/76539e76-ecc9-11e6-9874-9d3b55506a79.png)

The same thing happens in syncMode local, too, exce

[2017-02-06 23:32] aaronklaassen commented on #38
Yeah I meant to file this too. I'm not sure if it's stuck there or the sync is failing when manually triggered or what.

[2017-02-07 05:51] #35 closed

[2017-02-07 05:51] #34 closed

[2017-02-07 06:25] #38 closed

[2017-02-09 22:14] Ludonaut opened #39 "Launcher won't reactivate itself after a game quit until idle timeout"
When quitting a game, the launcher won't respond until after the idle timeout has passed (10 seconds by default). It seems like the launcher doesn't register anymore if a game has quit itself.

![notresponding](https://cloud.githubusercontent.com/assets/932664/22803784/a7b72c5e-ef16-11e6-9db0-ff345fcd88db.png)

This happens with both legacy and non-legacy games, and sometimes it is possible to sho

[2017-02-09 22:15] Ludonaut opened #40 "Hide mouse cursor by default"
On our cabinet #39 also sometimes causes the mouse cursor to appear in the middle of the screen, which I can't reproduce on my laptop. Maybe since it doesn't support any pointer controls anyway the launcher should just hide the cursor by default?

[2017-02-09 22:20] Ludonaut opened #41 "Launcher fullscreen window off-center"
While testing #39 on my laptop I ran into some weird window repositioning.

The launcher window was oddly not at full screen resolution during its Not Responding state:
![notrespondingwindow](https://cloud.githubusercontent.com/assets/932664/22805494/1bbbdaf8-ef1e-11e6-8535-5fc866f3f2ac.png)

Ten seconds later:
![launcheroffcenter](https://cloud.githubusercontent.com/assets/932664/22805497/20c91d5

[2017-02-09 22:50] Ludonaut opened #42 "Idle timeout leaves Nidhogg running in backgound"
Observed with: Nidhogg

How to reproduce:

- Start Nidhogg
- Don't touch anything for 10 Seconds aka wait until the launcher kills it
- Launcher comes back, does its thing
- You can hear Nidhogg still running while being able to select other games
- Alt-Tab confirms Nidhogg is still running

Starting the game again brings up another instance of the game. This leaves multiple garbage instances open

[2017-02-09 23:07] Ludonaut opened #43 "Output_log should write timestamps"
Random thought while scrolling through output_log.txt and filing those other issues: Shouldn't the log contain timestamps as well?

Probably doesn't even have to be date/time (possibly privacy issues). "Seconds since launcher boot" could be useful already, especially for debugging those timeouts.

[2017-02-09 23:26] Ludonaut opened #44 "Flash-based legacy games switch to windowed mode on ESC instead of quitting"
Both Canabalt and X-Bones can't quit-on-ESC anymore, but can still be killed by idle timeouts and hold-quit-for-three-seconds force-kills.

Definitely not breaking anything, just weird and ugly to people who don't know about force kills. :thinking:

[2017-02-10 17:46] mrmwiebe commented on #41
Is this happening on your actual arcade machine too?  Is your laptop and machine running different versions of windows?  There is a script that's supposed to be using Windows DLLs to align the window properly, but it's finicky. :/

[2017-02-10 17:47] mrmwiebe commented on #43
Yep, good idea and easy to implement.

[2017-02-10 17:49] mrmwiebe commented on #39
Ohhhh, I think I know what's going on here.  Yep the new AHK script isn't checking to see if the process has quit on its own.

[2017-02-10 18:22] aaronklaassen commented on #44
Yeah I'm not sure we have a real solution for this - it's just old Flash being a old pain in the ass. That's why they're on a separate playlist.

If there's some way to fix it I'd really like to - both Canabalt and X-bones are great arcade games.

[2017-02-10 18:23] mrmwiebe commented on #44
Could be done with a custom AHK script.  Really gotta get some sort of thing into the metadata that says what script to use...hmmm

[2017-02-10 18:23] aaronklaassen commented on #42
Ah this must be what I was talking about with you @mrmwiebe the other day. I didn't realize it was just Nidhogg though.

[2017-02-10 18:25] aaronklaassen commented on #44
@mrmwiebe Oh okay. Yeah. I was going to hold off on custom AHK until v2.1 (ie an implementation that would allow arbitrary keybindings), but if we could get a minimal version running to fix this bug we could expand it later.

[2017-02-10 18:29] Ludonaut commented on #41
Our arcade machine is running on Windows 7 too, for now, though as far as I can tell this window thing has never happened there.

FWIW this only happens on my external monitor (even in 'Projector only' mode), so I think this might just be a weird Windows bug related to how it's handling external monitors? I guess we can close this issue until we're able to reproduce this bug on an actual Winnitron

[2017-02-10 18:31] mrmwiebe commented on #41
Oh yeah that is a good possibility.  I hadn't thought about taking more than one monitor into account.  If it does happen on your machine, let me know!

[2017-02-10 18:31] #41 closed

[2017-02-10 20:36] mrmwiebe commented on #44
@aaronklaassen could we add a metadata field that's something like "customAHK" with a string for now?  Then i can just have a "flash" template that the launcher runs.

[2017-02-10 20:42] mrmwiebe opened #45 "PICO8 Support!"
Okay, this is something i've been thinking about for a while because there's tons of great PICO8 games that are very arcadey.  I would love to be able to launch individual PICO8 games fullscreen, but it's a bit tricky because right now exported PICO8 games export as .html files and you cannot tell HTML5 apps to go fullscreen without user interaction as it's a security thing.

So, I'm thinking it c

[2017-02-10 21:11] mrmwiebe commented on #40
I'll add in that whenever the launcher restarts it makes extra sure that it hides the cursor again.

[2017-02-10 21:17] mrmwiebe commented on #42
[I've asked the AHK community about it](https://autohotkey.com/boards/viewtopic.php?f=18&t=27533), will get on this when I get a reply.

[2017-02-10 21:19] mrmwiebe commented on #39
This is related to #42 and should be fixed when the AHK community gets back to me.

[2017-02-10 21:29] #43 closed

[2017-02-10 22:39] Ludonaut commented on #45
Ha! I **love** this!

One of our professors actually approached me about _this exact feature_ at the party last week. :tada:

If it helps, a quick search on the bbs turned up [this guide on how to generate desktop builds of pico-8 games (via Electron)](http://missingsentinelsoftware.com/blog/deploying-pico-8-cartridges-electron).

I think it's a great idea, and if set up to just load plain pico-8

[2017-02-10 22:40] aaronklaassen commented on #44
@mrmwiebe How about

[code]

[2017-02-10 22:44] aaronklaassen commented on #45
@mrmwiebe @Ludonaut Ha awesome. My first thought was "I bet we could build an app using electron or something..."

[2017-02-10 22:45] mrmwiebe commented on #45
Well, i have something very bare bones running with NWJS, but looking into Electron.  I'm guessing/hoping they are very similar.

[2017-02-10 22:46] aaronklaassen commented on #45
@mrmwiebe I was just speculating. You're already way farther along that me.

[2017-02-10 22:46] Ludonaut commented on #45
Worth investigating: Maybe it's easier to just launch cartridges through pico-8 itself, like [this notepad++ setup](http://www.lexaloffle.com/bbs/?tid=4082) does.

Though that would require either working install of pico-8 on the arcade machine or bundling pico-8 with the launcher (licensing issues probably).

[2017-02-10 22:56] mrmwiebe commented on #45
I'm 95% sure I can get it to work with a NWJS/Electron app, and possibly even without native fullscreen, it just kiosk modes and then uses CSS and a custom HTML file to make it fullscreen.  I'm hoping this means just having one executable and distributing it with the launcher which runs all the PICO-8 games without the builders having to purchase PICO-8.  Fingers crossed!

[2017-02-12 07:21] #42 closed

[2017-02-12 07:21] mrmwiebe commented on #45
HELL YEAH.  PICO8 Support incoming. :D

[2017-02-12 07:21] #45 closed

[2017-02-12 07:23] mrmwiebe commented on #42
I basically made AHK cycle through a bunch of possibilities.  Turns out it was trying to close "Nidhogg.exe" when the app was named "Nidhogg".

[2017-02-12 18:14] aaronklaassen opened #46 "Change AHK settings to read from API response"
This is deployed: https://github.com/winnitron/winnitron_reborn/pull/77 It adds `keys: { template: "something" } }` to the game API response.

- [x] SYNC: take that data and write it as-is (including the nesting) to `winnitron_metadata.json`
- [x] SYNC: *don't* write the `legacy_controls` key
- [x] AHK: check the metadata json for which key map script to use.
- [x] OPTIONS: remove all references t

[2017-02-12 19:04] mrmwiebe commented on #46
Cool.  Gonna do some rewriting of the way it handles templates first and then I'll get to this.

[2017-02-12 19:08] mrmwiebe commented on #40
Oh, I added a bit to the AHK scripts that force the mouse to move to the bottom-right corner everytime a game is launched so it shouldn't be an issue anymore.

[2017-02-12 19:08] #40 closed

[2017-02-12 19:09] mrmwiebe commented on #39
This should be fixed with commit 278a153

[2017-02-12 19:09] #39 closed

[2017-02-12 22:27] mrmwiebe commented on #46
should be g2g with the latest commit 278a153

[2017-02-12 22:27] #46 closed

[2017-02-12 22:28] mrmwiebe commented on #44
So the functionality is there, just need it to be implemented on the Network side so that the proper JSON is in place.  278a153

[2017-02-12 22:28] #44 closed

[2017-02-13 19:45] aaronklaassen commented on #44
@mrmwiebe Yep the API side is already done: https://github.com/winnitron/winnitron_reborn/pull/77

[2017-02-16 16:46] aaronklaassen opened #47 "Report launcher version with sync request"
The sync hits `network.winnitron.com` to request a list of playlists/games to download. It sends its API key as part of that. It should also send the launcher version.

Now that I'm actually writing this out, this is exactly what `User-Agent` is for. 😅 I'm not sure off the top of my head what user-agent it's sending right now - probably some default Unity string - but we should change/add to it so

[2017-02-24 16:05] aaronklaassen opened #48 "Doesn't 'Oops' when it can't find JSON"
It just merrily goes on its way until it tries to use the options and then fails because that object is `null`.

[2017-02-25 20:43] #47 closed

[2017-03-01 20:19] aaronklaassen opened #51 "Semi-auto version updater"
Right now if we make a new release, the Winnitron owner has to:

- download the new zip
- manually only extract the `WINNITRON` directory, overwriting the existing one
- be intentional about not overwriting `WINNITRON_UserData`
  - unless they want to redo all the config/sync/etc. gross

So let's write a script or something that can check for new versions and do the update. It'll probably end up b

[2017-03-02 19:55] hyperscope opened #52 "Exiting any game causes the launcher to switch to borderless window mode"
This includes manually quitting, force quit, and idle quit.

[2017-03-02 20:09] hyperscope opened #53 "Unreal games left running in the background on quit"
Includes every method of quitting.

[2017-03-02 21:35] mrmwiebe commented on #53
Can you send me a super basic Unreal game that I can use to test?  I bet it's just that AutoHotKey can't find the process by name or something.

[2017-03-02 21:38] mrmwiebe commented on #52
This is the old Winnitron that's doing this?  What's the resolution of the screen and the operating system that you're using?

[2017-03-02 21:51] aaronklaassen commented on #53
@mrmwiebe Propaganda Llama.

[2017-03-02 22:14] aaronklaassen opened #54 "Jukebox music doesn't restart on game quit"
You can manually restart it by changing tracks or something (and maybe it starts when you come back from `Attract`?), but yeah straight to menu from a game there's no music.

[2017-03-03 02:41] hyperscope commented on #52
Old launcher yes, but I just bought a new graphics card for it, issues persisted. I will follow up and test further on my end when I get home.

[2017-03-03 15:32] hyperscope commented on #52
I'm temporarily using a GTX 1050, screen resolution 1600x900, DVI port. Changing the resolution to 1024x768 seems to fix the issue.

[2017-03-04 21:28] mrmwiebe commented on #52
Hmm, okay that's good to know.  If you use a 16:9 resolution does that work as well?  I'm wondering if the launcher can only handle 16:9 or 4:3 ratios.

[2017-03-06 19:12] hyperscope commented on #52
While demoing at First Friday on the projector setup error persisted regardless of resolution.

[2017-03-06 19:31] mrmwiebe commented on #52
Was the projector the primary display?  Was it in mirror mode or were you using it in multiple display mode?  I think @ludonaut found this bug happened when he had a multi monitor setup.

[2017-03-06 19:33] hyperscope commented on #52
It was the primary/only display.

[2017-03-06 19:35] mrmwiebe commented on #52
This is a strange one as I can't test it on my machine as it works as intended and Aaron hasn't reported anything similar on his machine.  What version of Win are you using?

[2017-03-06 19:38] hyperscope commented on #52
Windows 7 Ultimate 64-bit (6.1, Build 7601)

[2017-03-06 19:41] mrmwiebe commented on #52
Ok great, yeah I wonder if this is a Win7 thing as I think the other Trons are using 10.  Maybe the DLL i'm calling to reset the screen works differently in Win7 and I should be calling something more version dependent, I'll look into it!

[2017-03-06 20:20] hyperscope opened #55 "Make launcher able to run any .exe in local mode, not just one with same name as folder"
When trying to launch "Couch Coach" GM prompts for install every time, brings up dialog box installer, default install location set to C:\Users\winnitron\GGJ16
Changed to C:\WINNITRON_UserData\Playlists\testing-playlist\couch-coach\GGJ16. Tried taking the contents of C:\WINNITRON_UserData\Playlists\testing-playlist\couch-coach\GGJ16 putting it into C:\WINNITRON_UserData\Playlists\testing-playlist\

[2017-03-06 20:25] mrmwiebe commented on #55
This is from the synced version of Couch Coach?  Sounds like maybe whoever uploaded it uploaded the installer and not the executable?

[2017-03-06 20:29] hyperscope commented on #55
Correct and correct. Although I presumed going in after a sync and manually installing would have solved the issue.

[2017-03-06 20:34] mrmwiebe commented on #55
Hmm, yeah the launcher should still be able to launch that.  What's the game's .exe name and is it in the root of the couch-coach folder?

Also, if you can run the launcher, get it to make that error again and send me the output_log.txt that would be helpful.

[2017-03-06 20:41] hyperscope commented on #55
Oh geez my apologies I totally overlooked that the exe, name was getting renamed on install. Changing to the proper .exe name and it launched no problem.

[2017-03-06 20:43] mrmwiebe commented on #55
Ok cool.  This is actually a good reminder that I need to change it so that it's looking for the only .exe in the folder not just one named the same as the folder.

[2017-03-06 21:05] hyperscope commented on #52
I will post my further testing in a spreadsheet but so far with 4Forths
Idle Quit: Proper fullscreen, game running in the background
Force Quit:  Proper fullscreen, NO game running in the background

[2017-03-06 21:15] mrmwiebe commented on #52
Games running in background is more related to #53, I think @aaronklaassen made some changes to that side of things which should eliminate those issues for all games.  No need for a spreadsheet for that as Idle Quitting is not working properly for all games.

Also, is the fullscreen thing only happening on certain games?  I thought it was happening with all games on your machine?

[2017-03-06 21:26] hyperscope commented on #52
Ah Okay.

All games yes with the exception of 4Forths so far apparently, just tested it today and discovered it.

[2017-03-06 21:44] hyperscope commented on #52
These games all exit back to proper fullscreen
4Forths
N Arcade
Sumo Toppler

[2017-03-06 21:45] mrmwiebe commented on #52
I'll see what I can do.  I suspect it has something to do with changing resolution when exiting the game.

[2017-03-22 01:43] #28 closed

[2017-03-22 04:00] #52 closed

[2017-03-22 04:07] mrmwiebe commented on #52
The new version will have a batch file that you will need to run in order to make the launcher run in true borderless window mode and should not show the desktop when launching a game etc.

[2017-03-22 04:40] #48 closed

[2017-03-22 04:41] #54 closed

[2017-03-22 05:02] aaronklaassen commented on #55
The Launcher *does* run any exe - it gets that data from what the user enters on the website when they submit the game. Couch Coach just had bad metadata (it was uploaded before I reworked the game submission workflow). I'll double check, but I think this is `notabug`

[2017-03-23 18:47] mrmwiebe commented on #55
Sorry!  Should clarify: this was for when the launcher is in local mode.  Just so if you have a game in a folder with a name that's not the same as the folder, it can still find the .exe and launch it.  Everything is working properly otherwise.

This also relates to issue #36

[2017-03-23 19:30] aaronklaassen commented on #55
ohhhhhhhhhhhhhhhh

[2017-05-02 03:52] aaronklaassen opened #61 "Typo in attract image"
The Winnitron is a**n** network:

![01](https://cloud.githubusercontent.com/assets/1580121/25603366/b3fa702c-2ec0-11e7-9a4f-449bb56eed52.png)

@mrmwiebe I don't have a source file for this - might be easier for you to fix it than me.

[2017-05-02 14:29] mrmwiebe commented on #53
I believe this should be fixed now with #60 being solved and #52

[2017-05-02 14:29] #53 closed

[2017-05-02 14:29] #61 closed

[2017-05-04 01:50] hyperscope opened #62 "Launcher menu loading lag"
**Specs**: Windows 8.1 64bit (Laptop-Tron) / Winnitron v2.0
**Issue**: On each new OS boot, after the title screen launcher will lag going into the menu on a white screen for 15-20 seconds. Consistently repeatable.
**Resolution**: Relaunching Winnitron launcher removes extended lag period.

**Comments**: Non issue on Windows 7 Ultimate 64bit (Winnitron Redux)

[2017-05-04 02:02] hyperscope commented on #55
Specs: Windows 7/8.1 64bit
Issue: Launcher will freeze indefinitely when launching any game and the .exe is incorrectly named.
Resolution: Manually rename .exe
Comment: I don't think I included this in my initial report, specifically the launcher freezing part. Apologies if you guy's are already aware of it!

[2017-05-04 15:47] mrmwiebe commented on #55
Ah, yeah haven't fixed this yet!  Will get to it for the next bugfix update.

[2017-05-04 15:48] mrmwiebe commented on #62
So, the lag gets longer as you play more games?  Or is this just after a fresh Windows reboot?

[2017-05-04 16:03] mrmwiebe commented on #62
Could you send me a video of that and then maybe the output_log.txt file after it happens?

[2017-05-08 17:26] hyperscope commented on #62
Lag becomes extended on a fresh Windows reboot. And gets shorter on each relaunch of the .bat
Video: https://youtu.be/6VVVdKnLb5w
[output_log.txt](https://github.com/winnitron/WinnitronLauncher/files/984320/output_log.txt)

[2017-05-08 17:48] hyperscope opened #63 "Idle quit variables not functioning"
**Specs**: Windows 8.1 64bit (Laptop-Tron) / Winnitron v2.0
**Issue**: idleTimeBeforeAttract, initialIdleTimeSeconds, and idleTimeSeconds all set to "99" but upon game launch and user is idle, time is 42 before being booted back to menu.
**Resolution**: Unknown
**Comments**: Also winnitrons_options.json resides in C:\WINNITRON\WINNITRON_Data\Options AND C:\WINNITRON_UserData\Options although it do

[2017-05-08 17:54] aaronklaassen commented on #63
@hyperscope I ran into this too, but they are working - the format of the options json changed in `v2.0`: https://github.com/winnitron/WinnitronLauncher/blob/master/Assets/Options/Defaults/winnitron_options.json

Change your `runningGames` to `runner`.

The `C:\WINNITRON\WINNITRON_Data\Options` json file is just the default settings. You can ignore it.

[2017-05-08 17:54] #63 closed

[2017-05-08 17:56] hyperscope commented on #63
Only 7mins, not bad response time :P

[2017-05-08 18:01] hyperscope commented on #63
Forgive my ignorance but would it not be important to reference this in some fashion? As anyone that has an older version of the launcher won't have the updated formatting or even be aware of it.

[2017-05-08 18:14] mrmwiebe commented on #62
Ok, hmm.  Does this happen after launching a game and coming back to the menu as well?

[2017-05-09 00:34] hyperscope commented on #62
https://www.youtube.com/watch?v=6uLYzBHpixQ
Yes, but it gets progressively less so with each cycle through the launcher. Also now I'd say the initial lag at the worst is between 8-10 across all of my tests, although I haven't done anything differently to cause that.

[2017-07-15 16:44] #8 closed

[2017-07-15 16:45] aaronklaassen commented on #8
This has been possible  via the options file since v2.0 - looks like we just forgot to close the issue.

[2017-09-04 23:52] aaronklaassen opened #68 "Negative scale error"
Getting this in the logs:

The effective box size has been forced positive and is likely to give unexpected collision geometry.
If you absolutely need to use negative scaling you can use the convex MeshCollider. Scene hierarchy path "Prettiness/Planes/TesselatedPlane"

I haven't been able to replicate it locally so I don't have any more details yet.

[2017-09-05 00:08] mrmwiebe commented on #68
Huh.  Interesting, well there isn't a need to have BoxColliders on the tesselatedPlanes anyways so I can probably just remove them.

[2017-09-05 02:40] #68 closed

[2017-09-05 02:41] mrmwiebe commented on #68
Turns out the BoxColliders on the tesselated planes were scaled to a negative number from the get go.  OOPS

[2017-09-18 23:12] spacebit opened #69 "input issue in launched game"
having a weird issue. when i build my own version of the launcher/run it in unity editor the inputs on the launcher work fine but games launched from it need the shift key held down to use the same inputs.
i downloaded the launcher build from here and that also works fine.

[2017-09-19 01:00] aaronklaassen commented on #69
@spacebit Oh strange. You mean the zip file we packaged together works, but if you build it yourself it doesn't?

[2017-09-19 16:09] spacebit commented on #69
yeah exactly. i re-cloned the project and it still does it. i thought it might be since i use InControl input manager but since it works in your build i'm a little lost. i know i had an issue where the build had trouble copying the options folder into the data, so i was copy pasting those in.

[2017-09-28 16:48] Ramifactor commented on #69
I'm having this same issue, except I'm using the downloaded launcher (v2.1.0).

Everything works inside the Winnitron Launcher (navigating playlists & starting a game). The first room in the game I'm testing is a title screen that requires a button input (B1 or B2) to start it up. This also works fine. As soon as the actual game runs, no inputs work unless holding shift. The game is single player

[2017-09-28 20:33] aaronklaassen commented on #69
Hm. Okay. Thanks for the heads up - I'll take a look asap :+1:

[2017-09-29 00:13] Ramifactor commented on #69
Tested 3 or 4 different games and all have the same problem.

Examples:
[Earth:Water](http://roguenoodle.itch.io/earth-water)
[GenericSpaceShooter0815](http://acribic.com/winnitron-gamejam-genericspaceshooter0815/)

[2017-10-02 00:27] aaronklaassen commented on #69
@Ramifactor @spacebit I have to admit I'm having trouble replicating this bug - you guys have any more details? Are you using any custom key maps for your Winnitrons, or is it all defaults? Uh, caps lock? (It shouldn't matter but who knows 😅) If non-default, seeing the `keycodes` section of your `winnitron_options.json` might help.

Could you replicate the bug, and paste in your `WINNITRON/WINNITR

[2017-10-02 15:37] spacebit commented on #69
this is my output_log
Initialize engine version: 2017.1.0f3 (472613c02cf7)
GfxDevice: creating device client; threaded=1
Direct3D:
    Version:  Direct3D 11.0 [level 11.0]
    Renderer: NVIDIA GeForce GTX 870M (ID=0x1199)
    Vendor:   NVIDIA
    VRAM:     3072 MB
    Driver:   22.21.13.8205
Begin MonoManager ReloadAssembly
Platform assembly: C:\WINNITRON\PHILLYTRON4001_Data\Managed\UnityEngine.dl

[2017-10-04 14:55] spacebit commented on #69
sorry also here is my RunGame.ahk
; DEFAULT RUN SCRIPT

#Persistent
#MaxHotkeysPerInterval 200
#SingleInstance Force

debug := true

executable := "C:\WINNITRON_UserData\Playlists\_PhillyTron\beatboxing\beatboxing.exe"
exec_file := "beatboxing.exe"
game_name := "Beat Boxing"
forceQuitHoldTime := 3000
idleLimit := 180000
initialWait := 30000

start := SecondsToday()
WriteLog("START ----------------

[2017-10-07 16:50] Ramifactor commented on #69
Sorry for the delay -- see below. Everything is default to my knowledge.

[output_log.txt](https://github.com/winnitron/WinnitronLauncher/files/1366276/output_log.txt)
[RunGame.ahk.txt](https://github.com/winnitron/WinnitronLauncher/files/1366277/RunGame.ahk.txt)
[winnitron_metadata.json.txt](https://github.com/winnitron/WinnitronLauncher/files/1366278/winnitron_metadata.json.txt)
[winnitron_optio

[2017-10-07 23:15] aaronklaassen commented on #69
Craziness. Thanks a lot for the extra info.

[2017-11-06 20:15] spacebit commented on #69
Hey not to be a bother but did you ever get a chance to look at this? Is there anything else I can do to help? right now i'm resting a C battery on my keyboard inside the cabinet to hold shift down.

[2017-11-07 03:56] aaronklaassen commented on #69
@spacebit Hah oh my god that is bot hilarious and terrible.

Sorry this took a while - I was have a hell of a time replicating this bug, but coming back to it the problem was staring me in the face (ain't that always the way). I'm not sure *exactly* what's causing this yet, but it looks like the key remapping doesn't get written to the AHK file properly if the games `winnitron_metadata.json` is mi

[2017-11-10 16:02] #69 closed

[2017-11-11 02:13] spacebit commented on #69
awesome thanks so much Aaron, you're the best!

[2017-11-11 04:33] aaronklaassen commented on #69
@spacebit I haven't put together an official release *quite* yet, but if you want to build it yourself, you can pull down master (`v2.2.1`).

[2017-11-18 00:40] aaronklaassen opened #71 "Handle zips with top-level folder"
Right now we require a zip file to look like this:

[code]

but we should be able to also handle everything being inside a folder:

[code]

[2017-11-18 00:41] aaronklaassen commented on #71
Iiiiiii put this issue on the wrong repo. I'm pretty smart fyi

[2017-11-18 00:41] #71 closed

[2017-12-11 21:42] aaronklaassen opened #74 "Better cover image management"
[The Launcher's pretty naive about this](https://github.com/winnitron/WinnitronLauncher/blob/master/Assets/Scripts/System/Data/Game.cs#L103-L125) - the image the menu used is literally just the first `png` it finds. Sync *does* download the image from the website, but if the dev uploaded a jpeg, it won't work. And if there's another png that comes first alphabetically, that one will get chosen.

-

[2017-12-13 01:41] #74 closed

[2017-12-17 20:18] aaronklaassen opened #76 "Key map overwrite"
Only noticed this with Sumo Topplers, but still - `v2.3.0-pre2` breaks the player 2 joystick. It writes the ahk like this:

[code]

Those `return`s shouldn't be there. I think pressing W fires the I, which fires the I, which does the blank return. So don't write those returns if they're in the game's key map.

[2017-12-17 20:25] aaronklaassen commented on #32
Instead of this:
[code]

do something like this:

[code]

And a script to make the conversion.

[2017-12-17 20:36] aaronklaassen commented on #36
Actually going to save this for 2.4.0 - do it as part of the big sync and game folder reorganization (#32).

[2017-12-18 05:14] #76 closed

[2017-12-22 02:10] aaronklaassen opened #78 "Update Unity version"
This is still a Unity 5.5 project. Update it to .... whatever is current when we get to this issue.

[2017-12-22 16:58] mrmwiebe opened #80 "Background Planes do not respawn"
The tesselated backgrounds in the launcher end up dissappearing after a few minutes of the launcher running.

[2018-01-05 15:35] mrmwiebe commented on #21
Sorry for the long wait.  I was holding off on this because the launcher code was a jumble and it was daunting trying to wade through all the code.

This is going to be fixed for version 2.3 which will be a major UI and code refactoring update. :)

[2018-01-05 15:35] #21 closed

[2018-01-05 23:27] mrmwiebe commented on #80
This will be fixed for version 2.3

[2018-01-05 23:27] #80 closed

[2018-01-12 16:21] aaronklaassen opened #83 "Skip sync if no network connection"
Sometimes the launcher boots up and can't connect to the internet, so just displays an error because the sync failed. This might be just "the wifi router is down" or something, though. So instead going full Oops Screen, log the error and continue to menu (ie skip sync).

Still should Oops though if the problem is a bad API key or something. i.e., more detailed error case/messages:

- can't connect

[2018-01-12 19:22] Ludonaut commented on #83
I've had this happen on our machine while trying to autorun the launcher right after booting.

[2018-01-12 20:18] aaronklaassen commented on #83
@Ludonaut Yeah that's what brought this up for me too - a friend saw my Half-a-tron in a bar stuck at "error fetching playlist" 😅

[2018-01-14 23:24] mrmwiebe commented on #16
New UI will make this redundant.

[2018-01-14 23:24] #16 closed

[2018-01-15 14:58] #78 closed

[2018-01-16 18:31] aaronklaassen opened #84 "Broken Oops state if sync fails"
error reporting broken lol

OopsState.OnStateEnter (UnityEngine.Animator animator, AnimatorStateInfo info, Int32 layerIndex) (at Assets/Scripts/System/StateMachine/States/OopsState.cs:17)`

OopsState.OnStateUpdate (UnityEngine.Animator animator, AnimatorStateInfo info, Int32 layerIndex) (at Assets/Scripts/System/StateMachine/States/OopsState.cs:32)`

I'm not sure yet if this happens with *all* Oop

[2018-01-16 18:41] mrmwiebe commented on #84
SON OF A

[2018-01-16 18:41] mrmwiebe commented on #84
Haha, well I guess that one is extra fixed now.

[2018-01-16 18:45] mrmwiebe commented on #84
Oops, well I pushed it to the wrong branch anyway.  I know how to Git

[2018-01-16 18:55] aaronklaassen commented on #84
@mrmwiebe Hah sorry - I filed the issue, walked away, came back and went "ohhhhhhhhhhh".

[2018-01-16 20:12] #83 closed

[2018-01-16 20:12] #84 closed

[2018-01-16 20:19] aaronklaassen opened #85 "Attract screen no longer supports pngs"
Since #81, I mean. The videos are sweet, but we should keep this backwards-compatible so that we can show either.

[2018-01-17 00:22] aaronklaassen opened #86 "Plaintext attract screens"
Imagine a world where I can just drop something like `announcement.txt` into `/Attract` and I get a screen with its contents in attract mode, like we do with images and videos.

[2018-01-17 02:23] mrmwiebe commented on #86
Yeah for sure.  It would probably be easiest to have it so that each attract screen is a separate file, but wondering how it might work with any future network support.  So would this be cool?

attract_1.mp4
attract_2.txt
attract_3.png
attract_4.txt
...

Easiest would be Unity just grabbing things by file name, so if you number them then you can control when it goes up, but otherwise it'll just di

[2018-01-17 16:02] aaronklaassen commented on #86
@mrmwiebe  Yeah that's exactly what I was thinking. Just display them in alphabetical order. Network support could be shimmed in much easier once this much is in place.

[2018-01-18 19:25] #86 closed

[2018-01-18 19:25] #85 closed

[2018-02-25 23:26] aaronklaassen opened #88 "New menu resolution compatibility"
The new UI looks great on a 16:9 display, but is too wide otherwise (these pictures are from a trial run on the Half-a-tron, which is 8:5 / 1440x900).

![img_1934](https://user-images.githubusercontent.com/1580121/36647818-b627e420-1a50-11e8-814f-903a32042085.jpg)
![img_1935](https://user-images.githubusercontent.com/1580121/36647819-b63e0ef8-1a50-11e8-875e-d1da89335d95.jpg)

[2018-03-04 18:38] mrmwiebe commented on #88
Hey @aaronklaassen so this is fixed now.  The TopBar (with the winnitron logo) is now responsive, but since the way that I arranged the launcher is very dependant on the global space, I just added a launcher scale option in winnitron_options.json.  Setting that to 0.9 or something should fit it all in.

Let me know if that helps!

[2018-03-04 18:38] #88 closed

[2018-04-16 19:29] ngscheurich opened #89 "Recommended specs?"
Hi all,

Is there a codified set of minimum/recommended system specs for a Winnitron machine?

[2018-04-16 19:34] mrmwiebe commented on #89
Hi there!  At this time there isn't.  It seems to work pretty well on any modern PC.  To be honest, I'm not even sure how one would go about figuring this out unless we start getting people installing it on various PCs with different specs and reporting their experience back.

Do you have a machine that you are thinking of installing it on, or thinking of building a new machine with the minimum sp

[2018-04-16 19:46] ngscheurich commented on #89
Hey, @mrmwiebe! I'm in the process of planning out a new build and was just looking for some guidelines to help with working out a budget. Sounds like I'll be safe choosing some low-to-mid range parts so I'll start there and see how things go. I'll post back here or on the subreddit when the build is complete! 🤘🕹

[2018-04-16 19:46] aaronklaassen commented on #89
The primary issue is that while the specs for the Launcher are pretty minimal, specs for individual *games* can vary widely. Some of them are heavy Unreal Engine, and some are PICO8, you know?

[2018-04-16 19:47] aaronklaassen commented on #89
Yeah. The [Half-a-tron 500](https://medium.com/@aaronklaassen/building-the-half-a-tron-500-5d18d045337c) is *definitely* low-end hardware. 😅

[2018-04-16 19:47] #89 closed

[2018-04-29 19:05] aaronklaassen opened #91 "Crash when playlist is empty"
<img width="947" alt="screen shot 2018-04-29 at 2 03 24 pm" src="https://user-images.githubusercontent.com/1580121/39409999-2cc82fe0-4bb6-11e8-8a2d-313cee535520.png">

You can reproduce this by making an empty folder `_playlist-name` under `WINNITRON_UserData/Playlists/`

I think it makes sense for the playlist to still show in the selector, just without any games listed (because there aren't any)

[2018-04-29 19:15] #91 closed

[2018-05-16 01:00] aaronklaassen opened #95 "Crash when image_url unparseable"
If the `image_url` attribute in a game's `winnitron_metadata.json` file isn't a full URL, the parse fails and everything crashes.

[code]

[2018-05-16 02:01] #95 closed

[2018-07-05 18:25] aaronklaassen opened #99 "Launcher panics if game json is missing slug"
This won't happen with Network-synced games, but easy to miss for local ones.

Reported here: https://www.reddit.com/r/winnitron/comments/8viap4/winnitron_launcher_not_showing_my_local_playlist/e1phvwj/

Maybe can fall back to using the directory the game is in? What happens if the directory and slug value don't match?

At the very least, it should log a more useful error message.

[2018-07-05 18:27] aaronklaassen opened #100 "Vague crash with invalid json"
Given a playlist json file that can't be parsed (e.g., sample comments left in):

[code]

Reported: https://www.reddit.com/r/winnitron/comments/8viap4/winnitron_launcher_not_showing_my_local_playlist/

That could be a much better error message.

[2018-07-30 18:12] #99 closed

[2018-07-30 18:12] #100 closed

[2018-10-24 10:46] #55 closed

[2018-10-24 13:32] BenBergman opened #105 "Background gradient on game select screen doesn't reach to the top of the window"
In the game select screen there is a black-transparent gradient over the background. This does not reach to the top of the screen.

![img_20181023_192448](https://user-images.githubusercontent.com/142754/47434009-3c6a4180-d767-11e8-8f4a-fa21c2bc873c.jpg)

[2018-10-24 13:33] BenBergman opened #106 "White flash when returning to attract screen does not reach sides"
When the screen flashes white to return to the attract screen, the white flash does not reach all the way to the left and right.

![img_20181023_192501](https://user-images.githubusercontent.com/142754/47434069-66236880-d767-11e8-90df-d62348bbf00c.jpg)

[2018-10-24 13:35] BenBergman opened #107 "Winnitron.bat crashes Windows Explorer"
Sometimes the `Winnitron.bat` file will cause Windows Explorer to crash. When this happens, the Winnitron software ends up running minimized.

I can try to reproduce this a bit more later, but in hindsight I think it might have correlated with having a custom or no attract `png`.

[2018-10-24 13:38] BenBergman opened #108 "Winnitron launcher stuck at small size on large screens"
When connecting my Winnitron to a 2560x1440 monitor, the Winnitron launcher starts off full screen. Launching games goes to a full screen game. When I return from a game, the Winnitron launcher only fills the top left area of the screen (probably about 1080p worth). Using a resolution smaller than 1080p does not cause the Winnitron launcher to return to a size that is too big, so there is likely s

[2018-10-24 14:35] BenBergman opened #109 "Some .ogg files cause launcher to get stuck at "compiling games""
I tried replacing the default music with a custom track. I started with a `.wav` file which I soon realized isn't supported by the launcher. I did `ffmpeg -i track.wav track.ogg` to get an `ogg` file. Opening the launcher with this file caused it to hang at "compiling games".

[test_audio.zip](https://github.com/winnitron/WinnitronLauncher/files/2510743/test_audio.zip)

[2018-10-24 16:18] aaronklaassen commented on #106
@mrmwiebe You're probably more qualified for this one than I am.

[2018-10-24 16:28] mrmwiebe commented on #108
I'll take a look!

[2018-10-24 16:31] mrmwiebe commented on #105
I'll make a new branch and try and patch up this resolution stuff.  I need to make it more responsive to fill out the entire screen on larger monitors, cause you can see that the insides of the launcher screen there are at 1080p.  Since we were imagining that this would be running on a dedicated computer, we imagined that you could just set it at 1080p and forget, but will need to eventually make

[2018-10-24 16:32] mrmwiebe commented on #62
I'm going to close this.  The launcher has been overhauled since this bug.  If it crops up again we can just make a new issue.

[2018-10-24 16:32] #62 closed

[2018-10-25 00:04] BenBergman commented on #106
This happens at 1080p too.

[2018-10-25 00:04] BenBergman commented on #105
This happens at 1080p too.

[2018-10-25 21:49] nhaskins opened #110 "Issue with button mashing on game loading."
Hello!

So, this is an odd one that showed up in eh, production ? :D ... It seems players are mashing the 'back' button (escape key) on the cabinet, and it's causing issues:

-  if you jam the escape button while launching a unity game, it will launch the game in the background behind Winnitron.
- If you jam the escape button while quitting a game, it will crash Winniton.

I've done some digging,

[2018-10-26 17:05] mrmwiebe commented on #106
On it.  Figured out how to do responsive UI design a bit and going to be working on a new branch that should hopefully fix issues at any resolution. :)

[2018-10-26 20:54] aaronklaassen commented on #110
Yeah this is my number-one bug, actually. I *think* it can be solved by changing the AHK script to throttle the number of ESC presses sent per second (or whatever).

[2018-10-27 17:06] BenBergman opened #111 "Can't remove games from playlist"
I dug around for a bit but couldn't find a way to remove games from a playlist.

[2018-10-27 17:09] BenBergman opened #112 "Launcher sometimes fails to go fullscreen when returning from games"
This is seperate from my other fullscreen bug. This time the window title bar is visible after returning from games. I haven't been able to pin down specific games that trigger it or anything.

[2018-10-27 17:10] BenBergman opened #113 "Launcher doesn't always claim focus"
I have seen this on first launch and when returning from games. I need to click the mouse button for either the inputs to register or the intro animation to play.

[2018-10-27 21:00] mrmwiebe commented on #111
Are you using the Winnitron Network to sync your playlists?  If you are, and you're saying that you want to download a playlist but selectively remove games, I'm not sure that functionality exists, you'll need to create your own custom playlist.

If you're just adding games manually on your machine, you should be able to just delete the folder from the hard drive and the launcher should update it

[2018-10-27 22:34] mrmwiebe commented on #111
You're right!  Can't find it either.  This is def a bug for @aaronklaassen, but since this is on the website, this is a Winnitron Network bug, not a Launcher bug.  Please open a new ticket here: https://github.com/winnitron/winnitron_reborn/issues

[2018-10-27 22:34] #111 closed

[2018-10-27 22:36] mrmwiebe commented on #36
Hey @aaronklaassen It's been a while since we posted this, has this been addressed?  Can we close it?

[2018-10-28 19:04] mrmwiebe commented on #105
Fixed.  Will be available with next release.

[2018-10-28 19:04] #105 closed

[2018-10-28 19:06] mrmwiebe commented on #108
Fixed in latest pull-request.  Should be available with next release.

[2018-10-28 19:06] #108 closed

[2018-10-28 19:07] mrmwiebe commented on #106
Fixed in latest pull-request.  Should be available with next release.

[2018-10-28 19:07] #106 closed

[2018-10-28 19:55] mrmwiebe commented on #109
Ok did some digging and there's two things going on here:

One is that we coded in a very specific way of getting the track name and author using the format "Artist - Song", I can make that more tolerant like maybe just displaying the filename outright in the top right corner of the launcher, but you should be naming your tracks so it looks nice in the launcher regardless.  I'll make sure that's b

[2018-10-28 20:14] mrmwiebe commented on #109
Made it so the jukebox just displays the filename as is in top right menu bar so it should no longer hang on "compiling games".

[2018-10-28 20:14] #109 closed

[2018-10-30 21:20] aaronklaassen opened #115 "Specify log file location in winnitron.bat"
It's a pain in the ass to find the Unity Player log file (and they've changed it in a few unity versions). However [it looks like we can just pass a `-logFile` command line arg](https://docs.unity3d.com/Manual/CommandLineArguments.html) to make it write the file to working dir.

[2018-10-30 21:23] aaronklaassen opened #116 "Handle different-aspect game cover images"
Launcher only supports 4:3 game cover images, and if someone uploads something else to the Network, it gets squished in the menu. Fixing it here is a better solution than fixing it API side: https://github.com/winnitron/winnitron_reborn/issues/86

[2018-10-30 22:35] nhaskins commented on #110
Well I've devised a work around that's preventing the issue so far... I made the escape key immediately kill the program (skipping past the holding down the button functionality). After that, mashing escape isn't an issue, as the program just exits on the first press. This works for our games, as none of them use the 'hold down escape' feature to quit.

The other issue is that player input from th

[2018-10-30 22:57] BenBergman opened #117 "Add support for gamepads"
IPACs are kind of expensive, at least compared to the super cheap Zero Delay encoders. Those cheap encoders act as gamepads though, often emulating a PS3 controller.

Running this autohotkey script manually gets a Zero Delay joystick working with the Winnitron launcher: https://autohotkey.com/docs/misc/RemapJoystick.htm#joystick-axes

The Zero Delay buttons can be accessed with `Joy1` through `Joy

[2018-10-30 23:19] aaronklaassen commented on #110
@nhaskins Awesome thanks. Yeah I'm back to Access To A Windows Computer Land as of today so I'll be able to play with this now too.

Rather than `BlockInput`, it might work to map the keypress to a noop: `ESC::return`

[2018-10-30 23:42] aaronklaassen commented on #36
@mrmwiebe No, I never did this. Still a good idea though I think.

[2018-10-30 23:44] aaronklaassen commented on #22
I think this is best left as custom playlists; I don't want to complicate the user interaction Launcher side, since watching people interact with the machines in real life reveals a lot of random button mashing :joy:

[2018-10-30 23:44] #22 closed

[2018-10-31 05:32] mrmwiebe commented on #117
Oo cool idea!  Haven't heard of the Zero Delay encoders yet, great find!  I agree, it would be great to get this stuff working with AHK since we're using it so much with the launcher already, but would it be possible to use another program like Joy2Key in the meantime?

Just tried J2K for the first time in a while and it looks like it's not free, so I found a list of other potential candidates: ht

[2018-10-31 05:41] mrmwiebe commented on #116
Cool.  So basically it looks like you're thinkin the same as me here where it just crops the image to fit the current frame instead of squishing it right?  I can look into that.

[2018-10-31 14:41] BenBergman commented on #117
Yeah, those other options work too. I had to return the Zero Delay board I was borrowing, but we could probably just implement an AHK script that people run along side the Winnitron software as a separate thing to run for the time being. When I did my (quick and hacky) testing, I didn't see any conflicting behaviour running a script outside Winnitron with the Winnitron launcher.

[2018-10-31 14:44] aaronklaassen commented on #117
I haven't had a chance to reproduce the error here yet, but I suspect adding this support will just be adding the gamepad/joy codes to to list of valid inputs in `key_translation.json`.

It'd be more work if we want to add support Network-side (ie for a *game* that uses a controller), but if we're just mapping game-key-press to winnitron-gamepad-button-press I *think* that's all we need.

[2018-10-31 14:46] aaronklaassen commented on #116
@mrmwiebe Or shows the whole image, ideally. I was going to crop it API-side just so that it didn't get squished, but showing the image as-is would be the real fix.

I'm hesitant to crop because the cover images often have titles/text in them.

[2018-10-31 14:51] BenBergman commented on #117
It is slightly more complicated due to needing to map analog axis to button presses, but if a macro or something could be defined to allow easy mapping for users that would be great. The first script I linked shows how you can do axis to button mapping in AHK: https://autohotkey.com/docs/misc/RemapJoystick.htm#joystick-axes

Otherwise, yeah, the gamepad button to keyboard button mapping should be

[2018-10-31 14:55] BenBergman commented on #109
Thanks for digging into this. I should have known better than to throw a random file name at a jukebox app that tries to nicely display names. I'll also try a different OGG converter.

Does FMOD support WAV files? Those might be more consistent in format for folks needing to do conversions.

[2018-10-31 15:04] aaronklaassen commented on #117
Yeah I wanna get some of the bug fixes in and and released and then we can take a closer look at this.

[2018-10-31 21:13] BenBergman commented on #117
I just took a look at your link. It looks like these Zero Delay boards can be toggled into a digital mode so instead of behaving as an analog stick it acts as a d-pad. That should get us pretty much full compatibility through just the `key_translation.json` table.

[2018-10-31 21:15] mrmwiebe commented on #117
Oops!  That was the wrong link.  I meant to link here: https://alternativeto.net/software/j2k/?platform=windows

I thought you could use one of those to get joystick input to map to Winnitron controls on keyboard and that way hopefully the AHK key swapping stuff from the network will still work properly.

[2018-11-02 17:08] nhaskins commented on #110
I was able to get rid of the ‘button mashing’ issues on the science center cabinet!

It has been stress tested pretty well, a day seeing 30 bus loads of kids visiting the museum, and a VIP reception worth of players circulating though the exhibit space... no incidents. This looking promising!

There were 3 AHK issues to solve:

- From game selection screen, player button mashes escape or any input

[2018-11-02 19:07] aaronklaassen commented on #110
@nhaskins Awesome. This was/is top of my todo list for THIS VERY EVENING 😅but you beat me to it

Thanks a lot for the research - looks like we were thinking along the same lines. I'll clean it up :+1:

[2018-11-02 22:58] nhaskins commented on #110
Well i think it's a patch but probably not a legit fix :)

I'm hearing there might be issues with some of the games not exiting out correctly. I'm sure that has something to do with skipping the extra app kill steps.

[2018-11-03 00:56] aaronklaassen commented on #110
@nhaskins Yeah that's why I want to do some more debugging before I merge to master - but it's still valuable seeing that this was helpful.

I'm curious though - after adding these early `ExitApp` statements, did you have issues with the Launcher/menu getting focus back properly? That's the main reason for those extra checks.

[2018-11-03 03:39] nhaskins commented on #110
No issue there on this end... I think maybe Winnitron takes the focus back when it detects the AHK process has ended?

[2018-11-03 14:40] #115 closed

[2018-11-05 15:51] nhaskins commented on #110
@aaronklaassen how did your code session go? I'm looking to go do work on the cabinet to solve the 'app not closing' issue for Friday. Figure I'd check in with you on developments before beginning to dig in :).

[2018-11-08 22:30] #110 closed

[2018-11-09 00:29] aaronklaassen commented on #110
@nhaskins We had a Winnitron set up at a local game jam, so I was able to test your AHK draft on there in a Real Life setting. Everything went smoothly, so I cleaned it up a little bit and included it in v2.4.1: https://github.com/winnitron/WinnitronLauncher/releases/tag/v2.4.1

Thanks a lot for your help on this - if the "launch game, quit game, return to menu" is the hardest part of this project

[2018-11-09 16:35] nhaskins commented on #110
@aaronklaassen oh awesome, glad to hear it was working out, glad to contribute. I'll take a look at the new code and give it a try.

[2018-11-26 15:27] SeiferTim opened #121 "Launching multiple instances of games"
I can reproduce this every time:
Launch Winnitron, wait for it to display the games list.
Press and HOLD Escape
Wait for my game to launch and initialize (I typically wait until it reaches the menu)
QUICKLY release and press/hold ESCAPE again.
Game will not exit (despite having logic that should exit on Escape)
a new instance of game will launch
I can repeat as long as I keep holding ESCAPE each t

[2018-11-28 19:08] aaronklaassen commented on #121
@SeiferTim Which version of the Launcher? 2.4.1?

[2019-01-01 18:51] BenBergman opened #122 "Mapping button to ESC causes Winnitron launcher to hang when returning from a game"
I'm in the process of trying to get the cheap Zero Delay boards supported by the Winnitron launcher (#117). I'm trying to do it all within AHK for simplicity. I've got everything working for a first controller [using a custom ahk template](https://github.com/winnitron/WinnitronLauncher/wiki/Using-custom-AHK-templates) except that when I press my new escape button to exit a game the Winnitron launc

[2019-01-01 18:53] BenBergman commented on #122
Actually, launching the game with the mapped ESC key only works the first time. If I use a true ESC key to exit the game, I am no longer able to use the mapped ESC key to launch a game.

[2020-05-26 02:48] aaronklaassen opened #125 "Replace remaining `WWW` uses with `UnityWebRequest`"
Some uses got switched over/updated but obviously not all. Mostly `GameSync` related stuff, probably.

<img width="734" alt="Screen Shot 2020-05-25 at 9 46 58 PM" src="https://user-images.githubusercontent.com/1580121/82855598-5931a280-9ed1-11ea-89b0-ecadc4bf5b29.png">

[2022-01-02 11:01] hardcaz opened #127 "N Arcade wont open"
Idk why it just wont

[2022-01-18 06:59] mrmwiebe commented on #127
I think it's an old game that's not compatible with newer versions of Windows.  Can't get it to run at all anymore.  Think we're gonna have to live without it for now.  I've removed it from the Winnitron Network for now.

[2022-01-18 06:59] #127 closed, assigned to nobody